USE [master]
GO
/****** Object:  Database [FNC]    Script Date: 21/07/2025 8:23:25 a. m. ******/
CREATE DATABASE [FNC]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FNC', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\FNC.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FNC_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\FNC_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FNC].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FNC]
GO
/****** Object:  User [desarrollo]    Script Date: 21/07/2025 8:23:28 a. m. ******/
CREATE USER [desarrollo] FOR LOGIN [desarrollo] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [desarrollo]
GO
/****** Object:  Table [dbo].[ABONOS_MONEDERO]    Script Date: 21/07/2025 8:23:29 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ABONOS_MONEDERO](
	[id] [int] NOT NULL,
	[id_caficultor] [int] NOT NULL,
	[valor] [decimal](18, 2) NOT NULL,
	[fecha] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CAFICULTORES]    Script Date: 21/07/2025 8:23:32 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CAFICULTORES](
	[id] [int] NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[identificacion] [varchar](20) NOT NULL,
	[ciudad] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCTOS_CLIENTE]    Script Date: 21/07/2025 8:23:33 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCTOS_CLIENTE](
	[id] [int] NOT NULL,
	[id_caficultor] [int] NOT NULL,
	[tipo_producto] [varchar](50) NOT NULL,
	[numero_cuenta] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [NonClusteredIndex-20250719-122337]    Script Date: 21/07/2025 8:23:37 a. m. ******/
CREATE UNIQUE NONCLUSTERED INDEX [NonClusteredIndex-20250719-122337] ON [dbo].[CAFICULTORES]
(
	[identificacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ABONOS_MONEDERO]  WITH CHECK ADD FOREIGN KEY([id_caficultor])
REFERENCES [dbo].[CAFICULTORES] ([id])
GO
ALTER TABLE [dbo].[PRODUCTOS_CLIENTE]  WITH CHECK ADD FOREIGN KEY([id_caficultor])
REFERENCES [dbo].[CAFICULTORES] ([id])
GO
/****** Object:  StoredProcedure [dbo].[ActualizarCaficultor]    Script Date: 21/07/2025 8:23:37 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Sergio Arturo Piñeros
-- Create date: 15 Jul 2025
-- Description:	Modifica un caficultor de la tabla Caficultores
-- =============================================
CREATE PROCEDURE [dbo].[ActualizarCaficultor] 
	@id int,
	@nombre VARCHAR(100),
	@identificacion VARCHAR(20),
	@ciudad VARCHAR(50),
	@errorcode INT OUTPUT,
	@errormsg VARCHAR(200) OUTPUT 
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	SET @errorcode = 0
	SET @errormsg = ''
	BEGIN TRY
	    UPDATE caficultores 
		  SET nombre = @nombre, identificacion = @identificacion, ciudad = @ciudad
		  WHERE id = @id
	END TRY
	BEGIN CATCH
		SET @errorcode = ERROR_NUMBER()
		SET @errormsg = ERROR_PROCEDURE() + ': ' + ERROR_MESSAGE()
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[BorrarCaficultor]    Script Date: 21/07/2025 8:23:37 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Sergio Arturo Piñeros
-- Create date: 15 Jul 2025
-- Description:	Elimina el caficultor identificado por id de la tabla caficultores
-- =============================================
CREATE PROCEDURE [dbo].[BorrarCaficultor] 
	@id int,
	@errorcode INT OUTPUT,
	@errormsg VARCHAR(200) OUTPUT 
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	SET @errorcode = 0
	SET @errormsg = ''
	BEGIN TRY
	    DELETE FROM caficultores WHERE id = @id
	END TRY
	BEGIN CATCH
		SET @errorcode = ERROR_NUMBER()
		SET @errormsg = ERROR_PROCEDURE() + ': ' + ERROR_MESSAGE()
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[BorrarProducto]    Script Date: 21/07/2025 8:23:37 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Sergio Arturo Piñeros
-- Create date: 15 Jul 2025
-- Description:	Elimina el producto identificado por id de la tabla productos_cliente
-- =============================================
CREATE PROCEDURE [dbo].[BorrarProducto] 
	@id int,
	@errorcode INT OUTPUT,
	@errormsg VARCHAR(200) OUTPUT 
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	SET @errorcode = 0
	SET @errormsg = ''
	BEGIN TRY
	    DELETE FROM productos_cliente WHERE id = @id
	END TRY
	BEGIN CATCH
		SET @errorcode = ERROR_NUMBER()
		SET @errormsg = ERROR_PROCEDURE() + ': ' + ERROR_MESSAGE()
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[CrearAbono]    Script Date: 21/07/2025 8:23:37 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Sergio Arturo Piñeros
-- Create date: 15 Jul 2025
-- Description:	Agrega un abono al monedero del caficultor en la tabla abonos_monedero
-- =============================================
CREATE PROCEDURE [dbo].[CrearAbono] 
	@id int,
	@id_caficultor int,
	@valor int,
	@fecha DATE,
	@errorcode INT OUTPUT,
	@errormsg VARCHAR(200) OUTPUT 
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	SET @errorcode = 0
	SET @errormsg = ''
	BEGIN TRY
	    INSERT INTO abonos_monedero (id, id_caficultor, valor, fecha)
			VALUES (@id, @id_caficultor, @valor, @fecha)
	END TRY
	BEGIN CATCH
		SET @errorcode = ERROR_NUMBER()
		SET @errormsg = ERROR_PROCEDURE() + ': ' + ERROR_MESSAGE()
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[CrearCaficultor]    Script Date: 21/07/2025 8:23:37 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Sergio Arturo Piñeros
-- Create date: 15 Jul 2025
-- Description:	Agrega un caficultor a la tabla Caficultores
-- =============================================
CREATE PROCEDURE [dbo].[CrearCaficultor] 
	@id int,
	@nombre VARCHAR(100),
	@identificacion VARCHAR(20),
	@ciudad VARCHAR(50),
	@errorcode INT OUTPUT,
	@errormsg VARCHAR(200) OUTPUT 
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	SET @errorcode = 0
	SET @errormsg = ''
	BEGIN TRY
	    INSERT INTO caficultores (id, nombre, identificacion, ciudad)
			VALUES (@id, @nombre, @identificacion, @ciudad)
	END TRY
	BEGIN CATCH
		SET @errorcode = ERROR_NUMBER()
		SET @errormsg = ERROR_PROCEDURE() + ': ' + ERROR_MESSAGE()
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[CrearProducto]    Script Date: 21/07/2025 8:23:37 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Sergio Arturo Piñeros
-- Create date: 15 Jul 2025
-- Description:	Agrega un producto a la tabla productos_cliente
-- =============================================
CREATE PROCEDURE [dbo].[CrearProducto] 
	@id int,
	@id_caficultor int,
	@tipo_producto VARCHAR(50),
	@numero_cuenta VARCHAR(20),
	@errorcode INT OUTPUT,
	@errormsg VARCHAR(200) OUTPUT 
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	SET @errorcode = 0
	SET @errormsg = ''
	BEGIN TRY
	    INSERT INTO productos_cliente (id, id_caficultor, tipo_producto, numero_cuenta)
			VALUES (@id, @id_caficultor, @tipo_producto, @numero_cuenta)
	END TRY
	BEGIN CATCH
		SET @errorcode = ERROR_NUMBER()
		SET @errormsg = ERROR_PROCEDURE() + ': ' + ERROR_MESSAGE()
	END CATCH
END
GO
USE [master]
GO
