* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.switch {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    margin: 20px 0;
    cursor: pointer;
    background-color: black;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.switch p {
    color: white;
}